<html>
  <head></head>
  <body>
    <script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-auth-js/1.5.0/OktaAuth.min.js" type="text/javascript"></script>

    <button id="login" name="wow-awesome-login-buttton-long-name-for-no-reason-yeah">
      LOGINNNNNNNNNN, NOWWWWWWWW.
    </button>

    <script>
      const authClient = new OktaAuth({
        url: 'https://dev-612294.oktapreview.com',
        clientId: '-',
        redirectUri: 'http://localhost:8080',
        scopes: ['openid', 'email', 'profile'],
      })

      const button = document.querySelector('button[name="wow-awesome-login-buttton-long-name-for-no-reason-yeah"]')

      button.addEventListener('click', () => {
        authClient
          .token
          .getWithRedirect({ responseType: 'code' })
      })

      // If the token is in the url after the redirect
      // authClient
      //   .token
      //   .parseFromUrl()
      //   .then(({ accessToken }) => {
      //     // authClient.token.decode(accessToken);
      //     // Manage token or tokens
      //   })
      //   .catch(err => {
      //     // Handle OAuthError
      //     console.log('err', err)
      //   })
    </script>
  </body>
</html>
